.slider .track {
    -fx-background-color: dimgray;
    -fx-pref-height: 40px;
}
.slider .thumb {
    -fx-pref-height: 40px;
    -fx-pref-width: 15px;
}

.slider .axis {
    -fx-tick-label-fill: black;
    -fx-stroke: black;
    -fx-fill: black;
    -fx-font-size: 1.4em;
    -fx-font-family: Tahoma;
    -fx-tick-length: 10;
}